# Firebase
.firebase/
.firebaserc
firebase-debug.log*
firestore-debug.log*
pubsub-debug.log*
ui-debug.log*
firebase.json

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Node modules (if any)
node_modules/
